<!--
  This template loads for the 'tab.adopt' state (app.js)
-->
<ion-view title="Lend Stuff" right-buttons="rightButtons">
  <ion-content has-header="true" has-tabs="true">
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Apple" ng-model="item.name" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Value</span>
        <input type="number" ng-model="item.value" placeholder="9.99">
      </label>
      <label class="item item-input">
        <span class="input-label">Return Date</span>
        <input type="date" ng-model="payload.return_date" required>
      </label>
  </ion-content>
</ion-view>
