<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Find Friend">
  <ion-content has-header="true" has-tabs="false">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search" ng-model="q">
  </label>

    <div class="list">
      <a class="item item-avatar item-button-right" ng-repeat="user in users | filter: q | filter:friendFilter | orderBy" >
        <img ng-src="http://graph.facebook.com/{{user.facebook.id}}/picture">
        <h2>{{user.name}}</h2>
        <button class="button button-clear" ng-class="user.addButtonClass" ng-click="addFriend(user._id)">{{user.addButtonText}}</button>
        <p>{{user.facebook.education[user.facebook.education.length-1].school.name}}</p>
      </a>

  </div>
  </ion-content>
</ion-view>
