<div class="modal" ng-controller="MessagesCtrl">
<header class="bar bar-header bar-light">
      <h1 class="title">{{committeename}}</h1>
      <button class="button button-clear button-positive" ng-click="closeMessages()">Close</button>
</header>
<ion-content has-header="true" has-footer="true" padding="true">
<ion-refresher
     on-refresh="onRefresh()"
     >
    </ion-refresher>

  <ol class="messages">
    <li ng-repeat="message in messages" ng-class="{me: message.user._id == session.user._id}"><div>{{message.user.position}}</div><p>{{message.content}}</p></li>
  </ol>
</ion-content>
<ion-footer class="bar bar-footer bar-light bar-input-inset">
	<label class="item-input-wrapper">
      <input type="text" placeholder="" ng-model="newMessage">
    </label>
    <button class="button button-clear button-positive" ng-click="addMessage()">
      Send
    </button>
</ion-footer>
</div>