<ion-view title="SSUNS">
    <ion-content class="has-header">
    <div class="list">
    
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/itinerary&title=itinerary">
        <i class="icon ion-ios7-calendar-outline"></i>
        Conference itinerary
    </a>
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/committees-list&title=committees">
        <i class="icon ion-ios7-people"></i>
        Committees
    </a>

    <div class="item item-divider">
        Hotel
      </div>
      <a class="item item-icon-left" ng-href="#/map">
        <i class="icon ion-ios7-location"></i>
        Hotel direction
    </a>
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/floor-plan&title=floor">
        <i class="icon ion-ios7-paperplane-outline"></i>
        Floor plan
    </a>
    <a class="item item-icon-left" ng-href="#/submenu?url=/m/hotel-contact&title=contact">
        <i class="icon ion-ios7-information-outline"></i>
        Hotel contact
    </a>

    <div class="item item-divider">
        Social media
      </div>
      <a class="item item-icon-left" ng-href="#/submenu?url=/m/twitter&title=twitter">
        <i class="icon ion-social-twitter"></i>
        Twitter
    </a>
    <a class="item item-icon-left" ng-href="/facebook">
        <i class="icon ion-social-facebook"></i>
        Facebook
    </a>
    <a class="item item-icon-left" ng-href="/youtube">
        <i class="icon ion-social-youtube-outline"></i>
        Youtube
    </a>

    <div class="item item-divider">
        More
      </div>
      <a class="item item-icon-left" ng-href="/sponsors">
        <i class="icon ion-ribbon-b"></i>
        Sponsors
    </a>
    <a class="item item-icon-left" ng-href="/photos">
        <i class="icon ion-images"></i>
        Photos
    </a>
    <a class="item item-icon-left" ng-href="/charity">
        <i class="icon ion-leaf"></i>
        Charity events
    </a>
    <a class="item item-icon-left" ng-href="/food-deals">
        <i class="icon ion-social-usd"></i>
        Food deals
    </a>

      <a class="item button button-block button-dark" ng-href="#/submenu?url=/m/contact-us&title=contact">
        Contact us
    </a>
  </div>
  </ion-content>
</ion-view>
